.generate {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 256px;
    margin-bottom: 20px;
}

.icon {
    font-size: 2rem;
}

.generate p {
    margin: 0;
    font-size: 1.1rem;
}

.ul {
    margin: 0;
    padding: 0 0 0 30px;
}

.h1 {
    font-size: 1.2rem;
}

.h2 {
    margin: 0;
    font-size: 1.2rem;
}