/**
 * Баярхүү.Лув, 0000.00.00 00:00
 */

:root {
    --shadow-2: rgba(0, 0, 0, 0.2);
    --shadow-1: rgba(0, 0, 0, 0.1);
    --shadow-inset: rgba(255, 255, 255, 0.5);
}

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: rgba(255, 255, 255, 0.7);

    z-index: 10;
}

.window {
    display: flex;
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 12px 28px 0 var(--shadow-2), 0 2px 4px 0 var(--shadow-1), inset 0 0 0 1px var(--shadow-inset);
    z-index: 11;
}

h2 {
    font-size: 1.1rem;
    font-family: "Roboto Light", sans-serif;
    margin: 0;
    padding-left: 36px;
}

.closeIcon {
    background-color: #E4E6EB;
    color: #757B83;
    border-radius: 100%;
    font-size: 1.5rem;
    padding: 6px;
    cursor: pointer;
}

.closeIcon:hover {
    background-color: rgba(228, 230, 235, 0.7);
}

.modalHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #E5E5E5;
    padding: 10px;
    box-sizing: border-box;
}